.student-form {
    width: 100%;
    max-width: 700px;
    padding: 20px 50px;
    margin: auto;
    border: solid 2px;
}

.vertical-gutter-30 {
    margin-bottom: 30px;
}

.center-text-align {
    text-align: center;
}

.font-red {
    color: red
}